@font-face {
    font-family: 'RalewayBold';
    src: url('fonts/RalewayBold.eot');
    src: url('fonts/RalewayBold.eot') format('embedded-opentype'), url('fonts/RalewayBold.woff2') format('woff2'), url('fonts/RalewayBold.woff') format('woff'), url('fonts/RalewayBold.ttf') format('truetype'), url('fonts/RalewayBold.svg#RalewayBold') format('svg');
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/RalewayRegular.eot');
    src: url('fonts/RalewayRegular.eot') format('embedded-opentype'), url('fonts/RalewayRegular.woff2') format('woff2'), url('fonts/RalewayRegular.woff') format('woff'), url('fonts/RalewayRegular.ttf') format('truetype'), url('fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

:root {
    --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark: hsl(229, 57%, 11%);
    --font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: url(images/bg-mobile.png) no-repeat;
    background-color: var(--very-dark);
    display: flex;
    min-height: 100vh;
}

main {
    margin: auto;
    max-width: 90%;
    color: var(--pale-blue);
    font-family: 'RalewayRegular';
    font-size: var(--font-size);
}

.wrapper {
    border-radius: 1rem 6rem 1rem 1rem;
    background-color: var(--dark-blue);
    padding: 2rem;
}

.images {
    margin: 1.5rem 0 0;
}

.images img {
    background-color: var(--very-dark);
    padding: 1rem;
    margin-right: .5rem;
    max-width: 3.25rem;
    height: 3rem;
    border-radius: .75rem;
}

.storage {
    background-color: var(--dark-blue);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: .8rem;
}

.meter {
    height: 20px;
    width: 100%;
    background-color: hsla(229, 57%, 11%, .5);
    padding: .15rem;
    border-radius: 1.5rem;
}

.bar {
    display: block;
    background: var(--gradient);
    width: 70%;
    height: 100%;
    padding: .15rem;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
}

.dot {
    display: block;
    background: var(--pale-blue);
    width: 7%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    left: 93%;
    overflow: hidden;
}

.data {
    background-color: white;
    color: var(--very-dark);
    position: absolute;
    top: 75%;
    left: 30%;
    padding: .75rem;
    border-radius: .5rem;
}

.data span {
    font-size: 2rem;
    font-family: 'RalewayBold';
}

.space {
    display: flex;
    justify-content: space-between;
}